<div class="container">
  <% if @user %>
              <% if @user == current_user %>
                              <% if current_user.pets.pluck(:name).empty? %>
                              <div>
                                <h1> You havent listed any pet yet!</h1>
                              </div>

                              <% else %>
                                <h1>Your pets</h1>
                                <div class="container">
                                  <div class="row">
                                    <% current_user.pets.each do |pet| %>
                                    <div class="col-12 col-sm-6 col-md-4">
                                      <div class="card-image">
                                        <% img = cl_image_path(pet.photos.first.key, width: 350, height: 300, crop: :thumb, gravity: :face) %>
                                              <%= link_to pet_path(pet) do %>
                                              <div class="list card-my" style="background-image: linear-gradient(to bottom, rgba(0,0,0,0.35), rgba(0,0,0,0)), url(<%= img  %>)">
                                                <h2><%= pet.name %></h2>
                                              </div>
                                              <% end %>
                                      </div>
                                    </div>
                                    <% end %>
                                  </div>
                                </div>
                              <% end %>



              <% elsif @user.id != current_user.id %>
                            <div class="container">
                              <h1><%= User.find(params[:user_id]).first_name %>'s pets</h1>
                              <div class="row">
                                <% User.find(params[:user_id]).pets.each do |pet| %>
                                <div class="col-12 col-sm-6 col-md-4">
                                  <div class="card-image">
                                    <% img = cl_image_path(pet.photos.first.key, width: 350, height: 300, crop: :thumb, gravity: :face) %>
                                    <%= link_to pet_path(pet) do %>
                                    <div class="list card-my" style="background-image: linear-gradient(to bottom, rgba(0,0,0,0.35), rgba(0,0,0,0)), url(<%= img  %>)">
                                      <h2><%= pet.name %></h2>
                                    </div>
                                    <% end %>
                                  </div>
                                </div>
                                <% end %>
                              </div>
                            </div>
                <% end %>
  <% else %>
                <div class="container">

                    <h1>Found <%= pluralize(@pets.size, 'result') %> for "<%= params[:query] %>"</h1>

                  <div class="row">
                    <% @pets.each do |pet| %>
                    <div class="col-12 col-sm-6 col-md-4">
                       <div class="card-image">
                        <% img = cl_image_path(pet.photos.first.key, width: 350, height: 300, crop: :thumb, gravity: :face) %>
                        <%= link_to pet_path(pet) do %>
                          <div class="list card-my" style="background-image: linear-gradient(to bottom, rgba(0,0,0,0.35), rgba(0,0,0,0)), url(<%= img  %>)">
                            <h2><%= pet.name %></h2>
                          </div>
                        <% end %>
                      </div>
                    </div>
                    <% end %>
                  </div>
                </div>

  <% end %>
</div>
