<div class="container">
  <h1> All pets available</h1>
  <div class="row">
    <% @pets.each do |pet| %>
      <div class="col-12 col-sm-6 col-md-4">
        <div class="card-pet">
          <% if pet.photos.any? %>
            <%= cl_image_tag pet.photos.first.key, width: 350, height: 300, crop: :thumb, gravity: :face %>
          <% else %>
            <% img = "https://images.unsplash.com/photo-1507146426996-ef05306b995a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2550&q=80" %>
            <img src="<%= img %>" alt="">
          <% end %>
          <%= link_to pet_path(pet), class: "link-no-style" do %>
            <div class="card-pet-infos">
              <div>
                <h2><%= pet.name %></h2>
                <p><%= pet.location %></p>
              </div>
              <h2 class="card-pet-pricing"></h2>

              <% if pet.user.photo.key %>
                <%= cl_image_tag pet.user.photo.key, class: "avatar-bordered" %>
              <% else %>
                <%= image_tag "https://images.unsplash.com/photo-1537815749002-de6a533c64db?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1745&q=80", class: "avatar-bordered dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>

  </div>

</div>










