<div class="container">
<h1> Add a pet:</h1>









<!-- <input type="search" id="city" class="form-control" placeholder="Your Pet's City?" /> -->

<!-- <script src="https://cdn.jsdelivr.net/npm/places.js@1.17.0"></script>
<script>
const algoliaAuto = () => {
  {
    var placesAutocomplete = places({
      appId: 'N0PAT9ECX3',
      apiKey: '0c2c38c3a22343d18447f4519f2e9054',
      container: document.querySelector('#city'),
      templates: {
        value: function(suggestion) {
          return suggestion.name;
        }
      }
    }).configure({
      type: 'city',
      aroundLatLngViaIP: false,
    });
  }
};

algoliaAuto();
</script> -->





<%= simple_form_for @pet do |f| %>
  <%= f.input :name, label: 'Your pet name please', error: 'Name is mandatory, please specify one' %>
  <%= f.input :age %>
  <%= f.input :species, :collection => %w[Dog Cat Teaching-Assistant Ape Reptile],class: 'select2' %>
  <%= f.input :personality %>
  <%= f.input :location , input_html: { id: 'city'} %>

  <%= f.input :gender, :collection => %w[Male Female] ,class: 'select2' %>
  <%= f.input :temperament, :collection => %w[Calm Nervous Quiet Active], class: 'select2' %>
  <%= f.input :child_friendly , :collection => %w[true false]  %>
  <%= f.input :guidelines %>
  <%= f.input :photos, as: :file, input_html: { multiple: true } %>
  <br>
  <%= f.button :submit, class: "add-pet-btn" %>
<% end %>
</div>



