
<div class="show_container">


  <div class="show_card deets">
    <div class="show_details">
      <div style="align-items: center; justify-content: center">




          <% if current_user.id == @pet.user_id %>
            <%= link_to "Update", edit_pet_path(@pet),style:"margin: 30px", class: "btn btn-primary"  %>
          <% end %>



          <% if current_user.id == @pet.user_id %>
            <%= link_to "Remove Animal", pet_path, :method => 'delete', class: "btn btn-primary m-3" %>

          <% elsif current_user.bookings.pluck(:pet_id).include?(@pet.id) %>
            <div class="">
            You booked <%= @pet.name %> on the following dates: <br> <%= current_user.bookings.where(pet_id: @pet.id).first.startingdate %> <br> - <br> <%= current_user.bookings.where(pet_id: @pet.id).first.endingdate %>
            </div>
          <% else  %>

          <%= simple_form_for [@pet, @booking] do |f| %>
          <%= f.input :endingdate %>
          <%= f.input :startingdate %>

          <br>
          <%= f.button :submit %>




        <% end %>

        <% end %>
      </div>

      <div class="show_photos">


      </div>

      <div class="main_deets">
        <div class="deets">

          <div style= "padding: 50px">
          <h3><%= @pet.name.capitalize %></h3>
          <% if @pet.photos.attached? %>
            <%= cl_image_tag @pet.photos.first.key, height: 300, width: 400, crop: :fill %>
          <% end %>

          <h6> <strong> <%= @pet.name.capitalize %>'s Location:</strong><%= @pet.location %></h6>
          </div>

      <div style= "padding: 50px">


      </div>
        </div>
      </div>




      <div class="list-inline details_card">
        <ul>
          <li><strong>Age:</strong> <%= @pet.age%></li>
          <br>
          <li><strong>Gender:</strong><%= @pet.gender %></li>
          <br>
          <li><strong>Child Friendly: </strong><%= @pet.child_friendly==true ? "yes" : "no" %></li>
          <br>
          <li><strong>Personality: </strong><%= @pet.personality %></li>
          <br>
          <li><strong>Location: </strong><%= @pet.location %></li>
          <br>
          <li><strong>Temperament: </strong><%= @pet.temperament %></li>
          <br>

        </ul>
    </div>
          <div >
            <strong>Guidelines:</strong>
            <p class="guidelines">
              <%= @pet.guidelines %>

            </p>
          </div>
          <div
  id="map"
  style="width: 100%;
  height: 600px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
></div>
  </div>



