<h1><%= @pet.name %></h1>


<p>
  <%=  @pet.species%>
  <br>
  <%= @pet.gender %>
  <br>
  <%= @pet.location %>
  <br>
  <%= @pet.temperament %>
  <br>
  <%= @pet.guidelines %>
  <br>
  <%= @pet.age %>
  <br>
  <% @pet.photos.each do |photo| %>
  <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
  <% end %>

</p>

<%= link_to "Remove Animal", user_pet_path, :method => 'delete' %>
