<div class="navbar navbar-expand-sm navbar-light navbar-lewagon nav <%=  "navbar-lewagon-white" unless current_page?(root_path) %> ">
  <%= link_to "/", class: "navbar-brand" do %>
    <%= image_tag "paws2.png" %>
    <h1>Rentypet</h1>
    <% end %>


  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <!-- <li class="nav-item active"> -->
          <%= link_to "Add a Pet", new_pet_path, class: "nav-link hoverd nav-item active"%>
        <!-- </li> -->
        <!-- <li class="nav-item active"> -->
          <%= link_to current_user.first_name.capitalize, user_pets_path(current_user), class: "nav-link hoverd nav-item active" %>
        <!-- </li> -->
        <li class="nav-item dropdown">
          <% if current_user.photo.key %>
            <%= cl_image_tag current_user.photo.key, :transformation=>[
            {:width=>50, :height=>50, :radius=>"max", :gravity=>"faces", :border=>"3px_solid_black", :crop=>"thumb"}], class: "avatar-bordered dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <% else %>
            <%= image_tag "https://images.unsplash.com/photo-1537815749002-de6a533c64db?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1745&q=80", class: "avatar-bordered dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <% end %>

          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "Your Account", edit_user_registration_path(current_user), class: "dropdown-item" %>
             <%= link_to "Your Pets", pets_path(user_id: current_user) , class: "dropdown-item" %>
             <%= link_to "Browse All Pets", pets_path, class: "dropdown-item" %>
             <%= link_to "Browse All Owners", users_pet_path, class: "dropdown-item" %>
             <%= link_to "Your Bookings", bookings_path, class: "dropdown-item" %>

            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>


          </div>
        </li>
      <% else %>

          <li class="nav-item">
            <%= link_to "List Your Pets", new_pet_path, class: "nav-link add-pet-btn" %></li>
            <li class="nav-item"><%= link_to "Login", new_user_session_path, class: "nav-link nav-text" %></li>
            <li class="nav-item"><%= link_to "Sign up", new_user_registration_path, class: "nav-link nav-text" %>
          </li>

      <% end %>
    </ul>
  </div>
</div>
