<div class="navbar navbar-expand-sm navbar-light navbar-lewagon nav <%= "navbar-transparent" if current_page?(root_path) %>">
  <%= link_to "/", class: "navbar-brand" do %>
    <%= image_tag "paws2.png" %>
    <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item active">
          <%= link_to "Add a Pet", new_pet_path, class: "nav-link add-pet-btn"%>
        </li>
        <li class="nav-item active">
          <%= link_to current_user.first_name, user_pets_path(current_user), class: "nav-link" %>
        </li>
        <li class="nav-item dropdown">
         <%=   cl_image_tag(current_user.photo.key, class: "avatar-bordered") %>

             <%= link_to "Your Account", edit_user_registration_path(current_user), class: "dropdown-item" %>
             <%= link_to "Your Pets", pets_path(user_id: current_user) , class: "dropdown-item" %>
             <%= link_to "Browse All Pets", pets_path, class: "dropdown-item" %>
             <%= link_to "Browse All Owners", users_pet_path, class: "dropdown-item" %>
             <%= link_to "Your Bookings", bookings_path, class: "dropdown-item" %>

            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>


          </div>
        </li>
      <% else %>

          <li class="nav-item">
            <%= link_to "List Your Pets", new_pet_path, class: "nav-link add-pet-btn search_button" %></li>
            <li class="nav-item"><%= link_to "Login", new_user_session_path, class: "nav-link nav-text" %></li>
            <li class="nav-item"><%= link_to "Sign up", new_user_registration_path, class: "nav-link nav-text" %>
          </li>

      <% end %>
    </ul>
  </div>
</div>
