<div class="home_banner d-flex flex-column" style="background-image: url(<%= asset_url('homepage.jpg') %>)">
  <br>
  <br>
  <br>
  <div class="search_card d-flex flex-column">
    <div class= "dynamic-text">
      <h1><span id="banner-typed-text"></span></h1>
    </div>
    <!-- <form class="form-style"> -->
      <div >

        <%= form_tag pets_path, method: :get, id: "form-id" do %>
        <%= text_field_tag :query,
        params[:query],
        class: "form-control form-item form-home", id: "input-home",
          placeholder: "Search by category"
          %>
          <%= submit_tag "Search", class: "login-button form-item" %>
          <% end %>
      </div>


      </div>
    </div>
    <div>
      <!-- <h2> All the Pets Available:</h2> -->
    </div>
      <div class="container">
        <div class="row">
          <% @pets.each do |pet| %>
            <% if pet.available %>

          <div class="col-12 col-sm-6 col-md-4">
            <% if pet.photos.any? %>
            <div class="card-image">
              <% img = cl_image_path(pet.photos.first.key, width: 350, height: 300, crop: :thumb, gravity: :face) %>
              <% else %>
              <% img = "https://images.unsplash.com/photo-1507146426996-ef05306b995a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2550&q=80" %>
              <% end %>
              <%= link_to pet_path(pet) do %>
              <div class="list card-my" style="background-image: linear-gradient(to bottom, rgba(0,0,0,0.35), rgba(0,0,0,0)), url(<%= img  %>)">
                <h2><%= pet.name %></h2>
              </div>
              <% end %>
            </div>
          </div>
            <% end %>
          <% end %>
        </div>

      </div>
