<div class="home_banner d-flex flex-column" style="background-image: url(<%= asset_url('homepage.jpg') %>)">
  <br>
  <br>
  <br>
  <div class="search_card d-flex flex-column">
    <h1><span id="banner-typed-text"></span></h1>
      <form class="form-style">
      <div class="where">WHERE</div>
        <input class="anywhere" type="text" placeholder="Anywhere"><br>
      <div class="collect">COLLECT</div>
        <input class="calender" type="date" placeholder="dd-mm-yyyy"><br><br>
      <div class="button-right">
        <input class="search_button" type="submit" value="Search">
      </div>
    </form>

  </div>
</div>

<div>
<%= form_tag pets_path, method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Search by category"
  %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>
</div>

<div class="container">
  <div class="row">
      <% @pets.each do |pet| %>
        <div class="col-12 col-sm-6 col-md-4">
          <% if pet.photos.any? %>
          <div class="card-image">
            <% img = cl_image_path(pet.photos.first.key, width: 350, height: 300, crop: :thumb, gravity: :face) %>
          <% else %>
            <% img = "URL HERE" %>
          <% end %>
          <%= link_to pet_path(pet) do %>
          <div class="list card-my" style="background-image: linear-gradient(to bottom, rgba(0,0,0,0.35), rgba(0,0,0,0)), url(<%= img  %>)">
            <h2><%= pet.name %></h2>
          </div>
           <% end %>
          </div>
        </div>
      <% end %>
  </div>
</div>
