<div class= "container">




  <div class="signin-container">


    <div class=" signin-box">
      <div>
        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-inputs">
          <%= f.input :email,
          label: false,
          required: false, placeholder: "email",
          autofocus: true,
          input_html: { autocomplete: "email" } %>
          <%= f.input :password,
          label: false,
          required: false, placeholder: "******",
          input_html: { autocomplete: "current-password" } %>
          <div style="display: flex; justify-content: space-between;">
            <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
            <%= link_to "Forgot your password?", new_password_path(resource_name), class: 'whatever' %>
          </div>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Log in", class:"signin_button" %>
        </div>
        <% end %>

        <div class="already">
        <div>
          <h6 class="forgotten"> Don't have an account?</h6>
        </div>
        <div>
        <a class="sign_upbutton" href="/users/sign_in">Sign Up</a>
        </div>
        </div>


          <div>


          </div>

        </div>

        <!-- <h6 class="passwordreset"><%= link_to "Forgot Password", new_user_password_path %><h6> -->
      </div>


